body {
    font-family: Verdana, sans-serif; 
    font-size:0.8em;
}

header,nav, section,article,footer,figure{
    border:1px solid green; 
    margin:5px; 
    padding:8px;
}

nav#rome{
    background-color: darkslategray;
}

nav ul {
    margin:0; 
    padding:0;
    
}

nav ul li {
    display:inline; margin:5px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    border-bottom: 1px solid black;
    color: red;
}

canvas{
    animation: moveit 3s linear 0s infinite alternate;
}

@keyframes moveit {
    from {left: 0%;}
    to   {left: 100%;}
}